html {
  background-color: rgba(215, 215, 219, 0.6);
}

#searchbar {
  position: absolute;
  border-radius: 3px;
  left: 20%;
  top: 4%;
  font-size: 15px;
  border-width: 1px;
  border-color: #282c34;
  background-color: rgba(249, 249, 250, 0.95);
  background-size: 24px;
  height: 24px;
  font-size: 20px;
  outline-color: #00AFFF;
}
